body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header styles */
.header {
    margin: 0;
    background-color: #E554731A;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 550px;
}

.flower-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #272727;
    margin-bottom: 0;
}

.banner-description {
    margin-bottom: 30px;
}


/* hot deals style */

.hot-deals-section {
    margin-top: 100px;
    background-color: #E554731A;
}

.hot-deal {
    padding: 30px 30px 0px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hot-deal-content {
    max-width: 550px;
    text-align: center;
}

/* instagram part styles */
.instagram {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instagram-container-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram-container-images .image {
    width: 250px;
}

/* subscription form style */

.subscription-form {
    max-width: 1140px;
    height: 400px;
    margin: 0 auto;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    text-align: center;
}

.subscribe-form input[type="email"] {
    margin-bottom: 20px;
    padding: 18px 30px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 400px;

}

/* footer styles */
.footer {
    background: #111010;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.footer-description {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-tag {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}